body {
  background-color: #333333;
  margin: 0px; 
}

div.headerBackground {
  background-image: url("../Assets/img/2.jpg");
  background-color: rgba(0,0,0,0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 930px;
  width: 100%;
  z-index: -1;
}

img.headerBackground {
  width: 100%;
}
div.banner{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  position: relative;
  top: 200px;
  text-align: left;
  background-color: rgba(0,0,0,0.2);
  z-index: 0;
}
p.name {
  font-size: 90px;
  line-height: 100px;
  color: #d9d9d9;
  font-family: Arial Black;
  /* text-shadow: 2px 2px black; */
  margin-left: 25px;
  font-weight: bold;
}
p.title {
  color: #00b300;
  /* color: white; */
  font-family: Arial Black;;
  font-size: 50px;
  margin-left: 35px;
  margin-top: -90px;
}

div.downloadButton {
  position: relative;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  top: 300px;
  text-align: center;
  font-family: Arial Black;;
  background-color: rgba(0,0,0,0.4);
  /* border-radius: 10px; */
  border-width: 2px;
  color: #d9d9d9;
  font-size: 20px;
}
/* @media (max-width: 450px) {
  .test {
    color: yellow;
  }
} */